name: Quality Gate
on:
  push:

env:
  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  build_and_validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          always-auth: true
          cache: "npm"
          node-version: "18.x"
          registry-url: https://npm.pkg.github.com
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Install Dependancies
        run: make install-ci
      - name: code quality
        run: make lint
      - name: Run unit tests
        run: make test
      - name: Run example deployment
        run: make deploy-example